{
    "root": true,
    "parser": "vue-eslint-parser",
    "plugins": ["@typescript-eslint", "vue"],
    "parserOptions": {
        "parser": "@typescript-eslint/parser",
        "ecmaVersion": "latest",
        "sourceType": "module"
    },
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/recommended",
        "plugin:vue/vue3-recommended",
        "plugin:prettier/recommended",
        "prettier"
    ],
    "env": {
        "node": true,
        "jest": true
    },
    "rules": {
        // Ignore unused vars with underscore
        "@typescript-eslint/no-unused-vars": ["error", { "argsIgnorePattern": "^_" }]
    }
}
